---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
---

<BaseLayout title="Pricing" description="Learn about Candid9 pricing">
    <div
        class="stack gap-20"
        style={{
            display: "flex",
            flexDirection: "column",
            alignItems: "center",
        }}
    >
        <img
            alt="Photo2"
            style={{ width: "100%", maxWidth: "99%" }}
            src="/assets/golf.jpg"
        />
    </div>

    <div
        class="stack gap-20"
        style={{
            display: "flex",
            flexDirection: "column",
            alignItems: "center",
        }}
    >
        <div
            class="content"
            style={{
                maxWidth: `800px`,
                marginTop: `90px`,
                marginBottom: `300px`,
            }}
        >
            <p>
                When is the last time you saw an iPhone photo framed on the
                wall? These photos look similar at a glance, but there are some
                key differences that seem small but are actually very sensitive
                in our perception of humans:
                <ul>
                    <li>
                        The fish eye iPhone lens creates distortion, look at the
                        feet of the pink player. If the feet are distorted on
                        the bottom, the heads are also distorted on top. There's
                        also distortion of the players on the edges who appear
                        to be leaning toward the center in the iPhone photo.
                    </li>
                    <li>
                        Compare the jawlines (important!) of the players. The
                        iPhone photo is much less flattering. Real cameras
                        capture shadow more accurately. An iPhone does lots of
                        computation to try to make everything well-lit, but it
                        ruins important facial features in the process.
                    </li>
                    <li>
                        The blurred background of the right photo makes the
                        players "pop". This is called bokeh. The landscape is
                        also much more accurate to human perception, again due
                        to fish-eye distortion of the iPhone camera.
                    </li>
                </ul>

                This is why iPhone photos stay in the camera roll app.
            </p>
        </div>
    </div>
</BaseLayout>
