---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";
import Hero from "../components/Hero.astro";
import Grid from "../components/Grid.astro";
---

<BaseLayout title="Pricing" description="Learn about Candid9 pricing">
	<div class="stack gap-20">
		<main class="wrapper stack gap-8">
			<p>
				For photos priced at $0: Candid9 costs $0.10 per photo, with a
				minimum monthly price of $10. So $10 for 100 photos, $50 for 500
				photos per month. Try it for free for 20 photos with no credit
				card!
			</p>

			<p>
				For priced photos: Candid9 charges a 5% fee with a minimum of
				$1. So on a $20 photo, you'll keep $19 of revenue!
			</p>
		</main>
	</div>
</BaseLayout>
