---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
    title="Terms & Conditions | Candid9"
    description="Candid9 Terms and Conditions"
>
    <div class="stack gap-20">
        <main class="wrapper about">
            <section>
                <h2 class="section-title">Terms and Conditions</h2>
                <div class="content">
                    <h1>Candid9 Terms and Conditions</h1>

                    <h2 class="section-title">1. Acceptance of Terms</h2>
                    <p>
                        By accessing or using the Candid9 service, you agree to
                        be bound by these Terms and Conditions ("Terms"). If you
                        do not agree to these Terms, do not use the service.
                    </p>

                    <h2 class="section-title">2. Account Registration</h2>
                    <ul>
                        <li>
                            To use the services, photographers must create an
                            account with Candid9.
                        </li>
                        <li>
                            You must provide accurate, complete, and updated
                            registration information.
                        </li>
                        <li>
                            You are responsible for maintaining the
                            confidentiality of your account credentials and for
                            all activities that occur under your account.
                        </li>
                    </ul>

                    <h2 class="section-title">3. Use of Service</h2>
                    <ul>
                        <li>
                            Photographers may create batches of Photo Sessions
                            and generate unique QR-coded tickets for each
                            session.
                        </li>
                        <li>
                            Photographers agree not to misuse the service by
                            creating fake sessions, falsifying information, or
                            engaging in any illegal activity.
                        </li>
                    </ul>

                    <h2 class="section-title">4. Photo Sessions</h2>
                    <ul>
                        <li>
                            Each Photo Session is linked to a unique QR code
                            which must be photographed alongside the subject for
                            record-keeping.
                        </li>
                        <li>
                            Subjects must scan the QR code and provide a phone
                            number to be notified when their photos are
                            available.
                        </li>
                    </ul>

                    <h2 class="section-title">
                        5. Photo Publication and Purchase
                    </h2>
                    <ul>
                        <li>
                            Photographers are responsible for editing,
                            uploading, pricing, and publishing photos to their
                            respective Photo Sessions.
                        </li>
                        <li>
                            Photos are available for viewing with watermarks;
                            watermark-free versions are available for purchase.
                        </li>
                        <li>
                            Candid9 charges a platform fee for each photo
                            purchase made by subjects.
                        </li>
                    </ul>

                    <h2 class="section-title">6. Payment and Fees</h2>
                    <ul>
                        <li>
                            Photographers set the price for their photos, but
                            Candid9 retains a percentage as a platform fee on
                            each sale.
                        </li>
                        <li>
                            Payments for photos are processed through Candid9’s
                            payment system.
                        </li>
                        <li>
                            All fees are non-refundable except as required by
                            law.
                        </li>
                    </ul>

                    <h2 class="section-title">7. Intellectual Property</h2>
                    <ul>
                        <li>
                            Photographers retain the copyright of the images but
                            grant Candid9 a worldwide, non-exclusive,
                            royalty-free license to use, reproduce, distribute,
                            and display the images for the purpose of providing
                            the service.
                        </li>
                        <li>
                            Subjects purchasing photos receive a license to use
                            the image for personal use only; commercial use
                            requires explicit permission from the photographer.
                        </li>
                    </ul>

                    <h2 class="section-title">8. Privacy</h2>
                    <p>
                        We respect your privacy and handle personal information
                        according to our <a href="[url-to-privacy-policy]"
                            >Privacy Policy</a
                        >, which is incorporated into these Terms.
                    </p>

                    <h2 class="section-title">9. Termination</h2>
                    <p>
                        Candid9 may terminate or suspend access to our service
                        immediately, without prior notice or liability, for any
                        reason whatsoever, including without limitation if you
                        breach the Terms.
                    </p>

                    <h2 class="section-title">10. Limitation of Liability</h2>
                    <p>
                        Candid9 will not be liable for any indirect, incidental,
                        special, consequential or punitive damages, including
                        loss of profits, data, use, goodwill, or other
                        intangible losses, resulting from your access to or use
                        of the service.
                    </p>

                    <h2 class="section-title">11. Changes to Terms</h2>
                    <p>
                        We reserve the right, at our sole discretion, to modify
                        or replace these Terms at any time. If a revision is
                        material, we will provide at least 30 days' notice prior
                        to any new terms taking effect. What constitutes a
                        material change will be determined at our sole
                        discretion.
                    </p>

                    <h2 class="section-title">12. Governing Law</h2>
                    <p>
                        These Terms shall be governed by and construed in
                        accordance with the laws of Michigan, without regard to
                        its conflict of law provisions.
                    </p>

                    <h2 class="section-title">13. Contact Information</h2>
                    <p>
                        For any questions about these Terms, please contact us
                        at <a href="mailto:mark@candid9.com">mark@candid9.com</a
                        >.
                    </p>

                    <h2 class="section-title">14. Miscellaneous</h2>
                    <p>
                        These Terms constitute the entire agreement between you
                        and Candid9 regarding our service, superseding any prior
                        agreements between you and Candid9.
                    </p>

                    <p>
                        By using our service, you acknowledge that you have read
                        these Terms and agree to all of its provisions.
                    </p>
                </div>
                <div style={{ height: "100px" }}></div>
            </section>
        </main>
    </div>
</BaseLayout>

<style>
    .about {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
    }

    img {
        margin-top: 1.5rem;
        border-radius: 1.5rem;
        box-shadow: var(--shadow-md);
    }

    section {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        color: var(--gray-200);
    }

    .section-title {
        grid-column-start: 1;
        font-size: var(--text-xl);
        color: var(--gray-0);
    }

    .content {
        grid-column: 2 / 4;
    }

    .content :global(a) {
        text-decoration: 1px solid underline transparent;
        text-underline-offset: 0.25em;
        transition: text-decoration-color var(--theme-transition);
    }

    .content :global(a:hover),
    .content :global(a:focus) {
        text-decoration-color: currentColor;
    }

    @media (min-width: 50em) {
        .about {
            display: grid;
            grid-template-columns: 1fr 60% 1fr;
        }

        .about > :global(:first-child) {
            grid-column-start: 2;
        }

        section {
            display: contents;
            font-size: var(--text-lg);
        }
    }
</style>
